---
layout: default
format: frontpage
---
<div id="header-home">
    <div class="row">
        <div class="small-12 columns">
        </div><!-- /.medium-4.columns -->
    </div><!-- /.row -->
</div><!-- /#header-home -->


{% comment %}
*
* First check, if widget is empty or not by checking if there is a title
*
{% endcomment %}
<div class="row t80">
	{% if page.widget1.image or page.widget1.video or page.widget1.title %}
		{% include _frontpage-widget.html widget=page.widget1 %}
	{% endif %}

	{% if page.widget2.image or page.widget2.video or page.widget2.title %}
		{% include _frontpage-widget.html widget=page.widget2 %}
	{% endif %}

	{% if page.widget3.image or page.widget3.video or page.widget3.title %}
		{% include _frontpage-widget.html widget=page.widget3 %}
	{% endif %}

	{% if page.widget4.image or page.widget4.video or page.widge4.title %}
		{% include _frontpage-widget.html widget=page.widget4 %}
	{% endif %}
</div><!-- /.row -->
<div class="row t60">
	{% if page.widget5.image or page.widget5.video or page.widget5.title %}
		{% include _frontpage-widget.html widget=page.widget5 %}
	{% endif %}

	{% if page.widget6.image or page.widget6.video or page.widget6.title %}
		{% include _frontpage-widget.html widget=page.widget6 %}
	{% endif %}

	{% if page.widget7.image or page.widget7.video or page.widget7.title %}
		{% include _frontpage-widget.html widget=page.widget7 %}
	{% endif %}

	{% if page.widget8.image or page.widget8.video or page.widge8.title %}
		{% include _frontpage-widget.html widget=page.widget8 %}
	{% endif %}
</div><!-- /.row -->

{% comment %}
*
* Finally, if there is content, spit it out.
*
{% endcomment %}

<div class="row">
    {{ content }}
</div><!-- /.row -->
